.btn {text-decoration: none; color: white; border: none; padding: 10px 20px; border-radius: var(--fw-radius); cursor: pointer; margin-right: 10px;min-width: 20px; text-align: center; display: inline-block; font-weight: 600; transition: background 0.3s ease;}

.btn:hover {opacity: .85;}

.btn-negativo {background: var(--fw-red);}

.btn-positivo {background: var(--fw-green);}

.btn-neutro {background: var(--fw-gray);}

.btn-secondary {background: var(--fw-blue);}

.btn-primary {background: var(--fw-orange);}

.btn-navsec {background: var(--fw-blue);}

.btn-navpri {background: var(--fw-orange);}

.input-field { width:100%; max-width: 400px; padding: 12px 16px; border: 1px solid var(--fw-gray); border-radius: var(--fw-radius); font-size: 16px; transition: border-color 0.3s ease;}

.input-field:focus { border-color: var(--fw-blue); outline: none; box-shadow:var(--fw-shadow) ; }

.form-group { margin-bottom: 20px; }

.form-card { background: white; padding: 40px; border-radius: 20px; box-shadow: var(--fw-shadow); max-width: 500px; margin: 50px auto; box-sizing: border-box;}

.form-card h1 { text-align: center; margin-bottom: 20px; color: var(--fw-blue);}

.form-card h2 { text-align: center; margin-bottom: 20px; color: var(--fw-blue);}
    
.form-card p { text-align: center; margin-bottom: 20px;}

.form-actions { text-align: center; margin-bottom: 20px;}

.form-links { margin-top: 25px; text-align: center;}

.form-links a { color: var(--fw-blue); text-decoration: none; font-weight: 600; display: block; margin-bottom: 20px;}

.form-links a:hover { text-decoration: underline;}

.form-links p { font-size: 0.95rem; margin: 10px 0;}

.alert { padding: 12px; border-radius: var(--fw-radius); margin-bottom: 20px; text-align: center; font-weight: 600;}

.sucesso { background: #D1FAE5; color: #065F46; border: 1px solid #10B981;}

.erro { background: #FEE2E2; color: #991B1B; border: 1px solid #EF4444;}

.badge-categoria {display: inline-block; padding: 5px 10px; border-radius: 8px; background: #E6F0FF; color: var(--fw-blue); font-size: 0.85rem; font-weight: 600;}