{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1>
        Dashboard Financeiro
    </h1>

    <p>
    Bem-vindo,
    {{ session["usuario_nome"] }}
</p>

<div class="hero-buttons">

 <a href="{{ url_for('receitas') }}" < i class="btn btn-navpri fa-solid fa-money-bill-wave"> </i> Receitas </a>
 <a href="{{ url_for('despesas') }}" < i class="btn btn-navpri fa-solid fa-credit-card"></i> Despesas </a>   
 <a href="{{ url_for('logout') }}" < i class="btn btn-navsec fa-solid fa-right-from-bracket"> </i> Sair </a>
 
</div>
</div>

{% endblock %}