{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1>Dashboard Financeiro</h1>

    <p>
        Bem-vindo, {{ session["usuario_nome"] }}
    </p>

</div>

<section class="benefits">

    <a href=" {{ url_for('receitas') }}" i class="card dashboard-card">

        <i class="btn btn-navpri fa-solid fa-money-bill-wave"></i>
<br>
        <h3>Receitas</h3>
 
        <p>R$ {{ total_receitas }}</p>

        <p>
            Cadastre e acompanhe suas entradas financeiras.
        </p>

    </a>

     <a href="{{ url_for('despesas') }}"  i class="card dashboard-card">

        <i class="btn btn-navpri fa-solid fa-credit-card"></i>
<br>
        <h3>Despesas</h3>

        <p>R$ {{ total_despesas }}</p>

        <p>
            Gerencie gastos, vencimentos e pagamentos.
        </p>

    </a>

    <div class="card dashboard-card">

        <i class=" btn btn-navpri fa-solid fa-wallet"></i>
<br>
        <h3>Saldo</h3>

        <p>R$ {{ saldo }}</p>

        <p>
            Resultado entre receitas e despesas.
        </p>

    </div>

    
     <a href="{{ url_for('metas') }}"  i class="card dashboard-card">

        <i class="btn btn-navpri fa-solid fa-bullseye"></i>
<br>
        <h3>Metas</h3>

        <p>{{ total_metas }} Meta ativa </p>

        <p>
            Acompanhe seus objetivos financeiros.
        </p>

    </a>

    

</section>

{% endblock %}