{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1>
        Controle suas finanças com inteligência
    </h1>

    <p>
        Organize receitas, despesas e metas financeiras
        em um único lugar.
    </p>

    <div class="hero-buttons">

        <a href= {{ url_for('cadastro') }} class="btn-primary">
            Criar Minha Conta Grátis
        </a>

        <a href= {{ url_for('login') }} class="btn-secondary">
            Entrar
        </a>

    </div>

</div>

<section class="benefits">

    <div class="card">
        <h3>📊 Dashboard</h3>
        <p>
            Visualize sua situação financeira
            em tempo real.
        </p>
    </div>

    <div class="card">
        <h3>💰 Receitas</h3>
        <p>
            Organize todas as suas entradas.
        </p>
    </div>

    <div class="card">
        <h3>📉 Despesas</h3>
        <p>
            Controle gastos e categorias.
        </p>
    </div>

    <div class="card">
        <h3>🎯 Metas</h3>
        <p>
            Acompanhe seus objetivos financeiros.
        </p>
    </div>

</section>

{% endblock %}