{% extends 'base.html' %}

{% block content %}

<div class="form-card">

    <h1>Redefinir Senha</h1>

    <p>
        Digite sua nova senha.
    </p>

    {% with mensagens = get_flashed_messages(with_categories=true) %}

        {% if mensagens %}

            {% for categoria, mensagem in mensagens %}

                <div class="alert {{ categoria }}">

                    {{ mensagem }}

                </div>

            {% endfor %}

        {% endif %}

    {% endwith %}

    <form method="POST">

        <div class="form-group">

            <input
                type="password"
                name="senha"
                class="input-field"
                placeholder="Nova Senha"
                required>

        </div>

        <div class="form-group">

            <input
                type="password"
                name="confirmar_senha"
                class="input-field"
                placeholder="Confirmar Nova Senha"
                required>

        </div>

        <div class="form-actions">

            <button
                type="submit"
                class="btn btn-positivo">

                <i class="fa-solid fa-key"></i>

                Salvar Nova Senha

            </button>

        </div>

    </form>

    <div class="form-links">

        <p>
            Voltar para o login?
        </p>

        <a href="{{ url_for('login') }}" class="register-link"> Fazer login </a>

        </a>

    </div>

</div>

{% endblock %}