{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1>Usuários Cadastrados</h1>

    <div class="table-container">

    
    <table class="usuarios-table">

        <thead>

            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>WhatsApp</th>
                <th>Cadastro</th>
                <th>Ativo</th>
                <th>Administrador</th>
                <th>Ações</th>
                <th>Promover/Demover</th>
                <th>Excluir</th>
            </tr>

        </thead>

        <tbody>

            {% for usuario in usuarios %}

            <tr>

                <td>{{ usuario[0] }}</td>
                <td>{{ usuario[1] }}</td>
                <td>{{ usuario[2] }}</td>
                <td>{{ usuario[3] }}</td>
                <td>{{ usuario[4] }}</td>
                <td>{% if usuario[5] %}<button class="btn btn-navsec"><i class="fa-solid fa-lock-open"></i></button>{% else %}<button class="btn btn-navsec"><i class="fa-solid fa-lock"></i>{% endif %} </button></td>
                <td>{% if usuario[6] %}<button class="btn btn-navsec"><i class="fa-solid fa-crown"></i></button>{% else %}<button class="btn btn-navsec"><i class="fa-solid fa-users"></i>{% endif %} </button></td>
                <td><a href="{{ url_for('toggle_usuario', id=usuario[0]) }}" class="btn btn-navsec"> {% if usuario[5] %}Desativar</i>{% else %}Ativar{% endif %} </a> </td>
                <td><a href="{{ url_for('toggle_admin', id=usuario[0]) }}" class="btn btn-navsec"> {% if usuario[6] %}Demover{% else %}Promover{% endif %} </a> </td>
                <td><a href="{{ url_for('excluir_usuario', id=usuario[0]) }}" class="btn btn-negativo"><i class="fa-solid fa-trash"></i></a></td>
            </tr>

            {% endfor %}

        </tbody>

    </table>
    
    </div>
</div>

{% endblock %}